<footer class="footer">


  <div style="text-align:center">
    <%= link_to "See me on GitHub", "https://github.com/Lowest0ne/rails_tutorial", class: "btn btn-large btn-secondary" %>
  </div>
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
